<div class="row">
    <div class="col-xs-0 col-sm-3">
        <img src="~/Resources/Placeholder.png" width="100%"/>
    </div>
    <div class="col-xs-12 col-sm-9">
        <a href="@Url.Action("Index", "Movies")">
            <h3>Films</h3>
        </a>
        <p>
            Het Internationaal Haarlem Film Festival draait om films en gezelligheid. 
            Daarom zijn er vele films beschikbaar om gezellig met vrienden of familie naar toe te gaan.
            Er zijn vele locaties beschikbaar allen met hun eigen films en er zal altijd een film tussen zitten voor jou!
        </p>
        <h4>
            Aanbevolen films <!-- Might need to change... -->
        </h4>
        <div class="container row-inverse">
            <hr class="dashed" />
            <div class="row">
                <div class="col-sm-3 thumbnail recommendation">
                    <a href="@Url.Action("Index", "Movies")">
                        <img src="~/Resources/Placeholder.png" class="img-responsive"/>
                    </a>
                    <p class="text-center">#TITLE</p>
                </div>
                <div class="col-sm-3 thumbnail recommendation">
                    <a href="@Url.Action("Index", "Movies")">
                        <img src="~/Resources/Placeholder.png" class="img-responsive" />
                    </a>
                    <p class="text-center">#TITLE</p>
                </div>
                <div class="col-sm-3 thumbnail recommendation">
                    <a href="@Url.Action("Index", "Movies")">
                        <img src="~/Resources/Placeholder.png" class="img-responsive" />
                    </a>
                    <p class="text-center">#TITLE</p>
                </div>
                <div class="col-sm-3 thumbnail recommendation">
                    <a href="@Url.Action("Index", "Movies")">
                        <img src="~/Resources/Placeholder.png" class="img-responsive" />
                    </a>
                    <p class="text-center">#TITLE</p>
                </div>
            </div>
            <hr class="dashed" />
        </div>
    </div>
</div>
