@{
    ViewBag.Title = "index";
}

<style>
    h4 {
        color: #da2738;
    }

    col-sm-4 {
        margin: 20px;
    }
</style>

<h2 class="container">
    RestaurantOverzicht
</h2>

<div class="container">
    <div class="col-sm-4  ">
        <a href="@Url.Action("Dijkers", "Restaurant")">
            <img src="~/Resources/Placeholder.png" class="img-responsive" />
        </a>
    </div>
    <div class="col-sm-4 ">
        <a href="@Url.Action("Dijkers", "Restaurant")">
            <img src="~/Resources/Placeholder.png" class="img-responsive" />
        </a>
    </div>
    <div class="col-sm-4 ">
        <a href="@Url.Action("Dijkers", "Restaurant")">
            <img src="~/Resources/Placeholder.png" class="img-responsive" />
        </a>
    </div>
</div>

<div class="col-xs-4">
    <h4 class="text-center">De Uitkijk</h4>
</div>
<div class="col-xs-4">
    <h4 class="text-center">De Uitkijk</h4>
</div>
<div class="col-xs-4">
    <h4 class="text-center">De Uitkijk</h4>
</div>

<div class="container">
    <div class="col-xs-4">
        <h5 class="text-center">Restaurant de Uitkijk is uniek gelegen op het Kopje van Bloemendaal, gr... lees verder</h5>
        <div class="col-sm-4 container btn-block btn-primary ">
            <h5 class="text-center">Reserveer nu</h5>
        </div>
    </div>
    <div class="col-xs-4">
        <h5 class="text-center">Het succesvolle restaurant van chef kok Jozua Jaring is net als ratatouille een... lees verder </h5>
        <div class="col-sm-4 container btn-block btn-primary ">
            <h5 class="text-center">Reserveer nu</h5>
        </div>
    </div>
    <div class="col-xs-4">
        <h5 class="text-center">Op ons krijtbord staat het wisselend menu van de chef gemaakt aan de hand van de... lees verder</h5>
        <div class="col-sm-4 container btn-block btn-primary ">
            <h5 class="text-center"> Reserveer nu </h5>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-4 ">
        <a href="@Url.Action("Dijkers", "Restaurant")">
            <img src="~/Resources/Placeholder.png" class="img-responsive" />
        </a>
    </div>
    <div class="col-sm-4 ">
        <a href="@Url.Action("Dijkers", "Restaurant")">
            <img src="~/Resources/Placeholder.png" class="img-responsive" />
        </a>
    </div>
    <div class="col-sm-4 ">
        <a href="@Url.Action("Dijkers", "Restaurant")">
            <img src="~/Resources/Placeholder.png" class="img-responsive" />
        </a>
    </div>
</div>

<div class="col-xs-4">
    <h4 class="text-center">De Uitkijk</h4>
</div>

<div class="col-xs-4">
    <h4 class="text-center">De Uitkijk</h4>
</div>
<div class="col-xs-4">
    <h4 class="text-center">De Uitkijk</h4>
</div>

<div class="container">
    <div class="col-xs-4">
        <h5 class="text-center">Restaurant de Uitkijk is uniek gelegen op het Kopje van Bloemendaal, gr... lees verder</h5>
        <div class="col-sm-4 container btn-block btn-primary ">
            <h5 class="text-center">Reserveer nu</h5>
        </div>
    </div>
    <div class="col-xs-4">
        <h5 class="text-center">Het succesvolle restaurant van chef kok Jozua Jaring is net als ratatouille een... lees verder </h5>
        <div class="col-sm-4 container btn-block btn-primary ">
            <h5 class="text-center">Reserveer nu</h5>
        </div>
    </div>
    <div class="col-xs-4">
        <h5 class="text-center">Op ons krijtbord staat het wisselend menu van de chef gemaakt aan de hand van de... lees verder</h5>
        <div class="col-sm-4 container btn-block btn-primary ">
            <h5 class="text-center">Reserveer nu</h5>
        </div>
    </div>

</div>