@using IHFF.Models
@using IHFF.Helpers
@model IEnumerable<Restaurant>
@{
    ViewBag.Title = "index";
}

<h2>RestaurantOverzicht</h2>
<br />
<div class="container">
    @foreach (Restaurant item in Model)
    {
        <div class="col-sm-4">
            <div class="overlayable">
                <a><img src="~/Resources/Placeholder.png" class="img-responsive" /></a>
                <div class="overlay-overlayable" style="bottom: 20px">STERREN</div>
            </div>

            <a href="@Url.Action("RestaurantInfo", "Restaurant", new { item.Id })">
                <h3 class="text-center">@item.Name</h3>
            </a>
            <br />
            <p> @item.Info @Html.ActionLink("Lees verder", "RestaurantInfo", "Restaurant", new { item.Id }, new { @class = "" }) <p/>
            
            @Html.ActionLink("Reserveer nu", "RestaurantInfo", "Restaurant", new { item.Id }, new { @class = "btn btn-primary btn-block" })
            <br />
        </div>
    }
</div>
