@using IHFF.Models
@model WishlistItem

<tr>
    @if (Model.PayedFor)
    {
        <td></td>
        <td>
            <div class="row">
                <div class="col-sm-3" style="padding-left: 0px;">
                    <img src="data:image/jpg;base64, @Model.GetImage()" class="img-responsive" style="max-height:60px;"/>
                </div>
                <div class="col-sm-8" style="padding-left: 0px;">
                    @Model.GetName()
                    <div class="btn no-btn-info pull-down">Gereserveerd</div>
                </div>
            </div>
        </td>
        <td>
            @Model.GetLocation()
            <br />
            @Model.Date.TimeOfDay.ToString()
        </td>
        <td></td>
        <td>@Model.Amount</td>
        <td>@((7.50 * Model.Amount).ToString("C", Globals.CurrentCulture))</td>
        <td></td>
    }
    else
    {
        <td>
            @using (Html.BeginForm("SelectedChange", null, FormMethod.Post, new { @id = "formSelect" }))
            {
                @Html.CheckBoxFor(x => x.Selected, new { @id = "targetSelection" })
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
                <input type="hidden" name="WishlistItemId" value="@Model.WishlistItemId" />
            }
        </td>
        <td>
            <div class="row">
                <div class="col-sm-3" style="padding-left: 0px;">
                    <img src="data:image/jpg;base64, @Model.GetImage()" class="img-responsive" style="max-height:60px;" />
                </div>
                <div class="col-sm-8" style="padding-left: 0px;">
                    <h5>@Model.GetName()</h5>
                </div>
            </div>
        </td>
        <td>
            @Model.GetLocation()
            <br />
            @Model.Date.TimeOfDay.ToString()
        </td>
        <td></td>
        <td>
            @using (Html.BeginForm("AmountChange", null, FormMethod.Post, new { @id = "formAmount" }))
            {
                <select name="Amount" id="targetAmount">
                    @for (int i = 1; i <= 10; i++)
                    {
                        if (Model.Amount == i)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
                <input type="hidden" name="WishlistItemId" value="@Model.WishlistItemId" />
            }
        </td>
        <td>
            @switch (Model.GetItemType())
            {
                case ItemType.Event:
                    @((Model.GetPrice() * Model.Amount).ToString("C", Globals.CurrentCulture))
                    break;
                case ItemType.Reservation:
                    @Model.GetPrice().ToString("C", Globals.CurrentCulture)
                    break;
                default:
                    break;
            }
        </td>
        
        using (Html.BeginForm("RemoveItem", "Wishlist", FormMethod.Post))
        {
            <td>
                <input type="hidden" name="WishlistItemId" value="@Model.WishlistItemId" />
                <input value="Verwijder" type="submit" class="btn btn-primary" />
            </td>
        }
    }
</tr>

<script>
    $("#targetSelection").change(function ()
    {
        //alert((this).name + " changed!");
        $('#formSelect').submit();
    });

    $("#targetAmount").change(function () {
        //alert((this).name + " changed!");
        $('#formAmount').submit();
    });
</script>