@using IHFF.Models
@model WishlistItem

<tr>
    @if (Model.PayedFor)
    {
        <td></td>
        <td>
            <img src="data:image/jpg;base64, @Model.Event.GetImage()" />
            @Model.Event.GetName()
            <div class="btn btn-info btn-block">Gereserveerd</div>
        </td>
        <td>
            <!--Model.Event.LocationString-->
            <br />
            @Model.Event.Date.TimeOfDay.ToString()
        </td>
        <td></td>
        <td>@Model.Amount</td>
        <td>@((7.50 * Model.Amount).ToString("C"))</td>
        <td></td>
    }
    else
    {
        using (Html.BeginForm())
        {
            <td>
                @Html.CheckBoxFor(x => Model.PayedFor)
            </td>
            <td>
                <img src="data:image/jpg;base64, @Model.Event.GetImage()" />
                @Model.Event.GetName()
            </td>
            <td>
                <!--Model.Event.LocationString-->
                <br />
                @Model.Event.Date.TimeOfDay.ToString()
            </td>
            <td></td>
            <td>@Model.Amount</td>
            <td>@((7.50 * Model.Amount).ToString("C"))</td>
            <td>
                <input value="Verwijder" type="submit" class="btn btn-primary" />
            </td>
        }
    }
</tr>