@using IHFF.Models
@model Wishlist

<div class="row">
    <div class="col-sm-5">
        <h4 class="default">Uw contact info</h4>
        @using (Html.BeginForm())
            {
            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(m => Model.Name)
                    @Html.TextBoxFor(m => Model.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => Model.EmailAddress)
                    @Html.TextBoxFor(m => Model.EmailAddress, new { @class = "form-control", @placeholder = "voorbeeld@domein.nl" })
                </div>
            </fieldset>
                <div class="row myrow">
                    <div class="col-sm-8">
                        <small>
                            Om uw wishlist op te slaan of om deze af te rekenen hebben wij uw naam en e-mail adres nodig om de benodigde informatie door te sturen
                        </small>
                    </div>
                    <div class="col-sm-4 pull-down">
                        <input type="submit" class="btn btn-primary btn-lg pull-right" value="Opslaan">
                    </div>
                </div>
        }

    </div>
    <div class="col-sm-4 col-sm-offset-3 right">
        <h5>Kies uw betaalmethode</h5>
        @Html.ActionLink("Afrekenen", "Checkout", Wishlist.Instance, new { @class = "btn btn-primary btn-lg btn-block" })
    </div>
</div>

