<footer class="navbar navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <!-- BRAND HERE -->
                    <img src="~/Resources/Brand.png" class="brand" />
            </div>
            <div class="col-xs-4">
                <h3>Nieuwsbrief</h3>
                <p>
                    Blijf op de hoogte van nieuwe ontwikkelingen of acties en schrijf je in voor de nieuwsbrief
                </p>
            </div>
            <div class="col-xs-4">
                <h3 class="white">Contact</h3>
                <div class="row">
                    <div class="col-xs-3">Telefoon:</div>
                    <div class="col-xs-9">+31 (0) 555 555 5555</div>
                </div>
                <div class="row">
                    <div class="col-xs-3">E-mail:</div>
                    <div class="col-xs-9">info@ihff.com</div>
                </div>
                <div class="row">
                    <div class="col-xs-3">Twitter:</div>
                    <div class="col-xs-9">@@IHFF</div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-4">
                <!-- LANGUAGE ICONS HERE -->
                #PLACEHOLDER LANGUAGE
            </div>
            <div class="col-xs-4">
                <!-- NEWSLETTER INPUT HERE -->
                    <div class="input-group">
                        <input class="form-control"
                               data-val="true"
                               data-val-regex="Vul aub een valide email in. voorbeeld: voorbeeld@email.nl"
                               data-val-regex-pattern="^[A-z0-9]+@@(?:[A-z0-9]+\.)+[A-z]+$"
                               data-val-required="The Email field is required."
                               id="Email"
                               name="Email"
                               placeholder="voorbeeld@domein.nl"
                               type="text"
                               value="">
                        <div class="input-group-btn">
                            <button class="btn btn-primary">Schrijf in</button>
                        </div>
                    </div>                
            </div>
            <div class="col-xs-4">
                <!-- SOCIAL MEDIA ICONS HERE -->
                <div class="row sm-icons small">
                    <div class="col-xs-3">
                        <img src="~/Resources/Icons/facebook.png" class="img-responsive" />
                    </div>
                    <div class="col-xs-3">
                        <img src="~/Resources/Icons/twitter.png" class="img-responsive" />
                    </div>
                    <div class="col-xs-3">
                        <img src="~/Resources/Icons/google-plus.png" class="img-responsive" />
                    </div>
                    <div class="col-xs-3">
                        <img src="~/Resources/Icons/note.png" class="img-responsive" style="background-color:#0B66AD; padding:5px;" />
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="row">
        <div class="container">
            <div class="col-xs-6">
                <p class="copyright">&copy; copyright @DateTime.Now.Year CMD. All rights reserved. </p>
            </div>
            <div class="col-xs-6">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Films", "Index", "Movies")</li>
                        <li>@Html.ActionLink("Restaurants", "Index", "Restaurant")</li>
                        <li>@Html.ActionLink("Specials", "Index", "Specials")</li>
                        <li>@Html.ActionLink("FAQ", "Index", "FAQ")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
