<script>
    $(document).ready(function () {
            $(".menu").click(function () {
                $(".menu").each(function () {
                    $(this).removeClass("active");
                });
                $(this).addClass('active');
            });
        });
</script>

<header class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-10">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Resources/Brand.png" class="img-responsive"/>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 pull-right">
                    <a href="@Url.Action("ShowMiniWishlist", "Shared")" 
                       class="btn btn-primary btn-lg btn-block pull-right fancybox">
                        My Wishlist
                    </a>
                    <!--Html.ActionLink("My Wishlist", "ShowMiniWishlist", "Shared", null, new { class = "btn btn-primary btn-lg btn-block pull-right fancybox" })-->
                </div>

            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "menu active"})</li>
                    <li>@Html.ActionLink("Films", "Index", "Movies", null, new { @class = "menu" })</li>
                    <li>@Html.ActionLink("Restaurants", "Index", "Restaurant", null, new { @class = "menu" })</li>
                    <li>@Html.ActionLink("Specials", "Index", "Specials", null, new { @class = "menu" })</li>
                    <li>@Html.ActionLink("FAQ", "Index", "FAQ", null, new { @class = "menu" })</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<script>
    $(document).ready(function () {
        $(".fancybox").click(function () {
            $.fancybox.open({
                content: $('<div>').load($(this).attr('href')),
                type: 'ajax',
                maxWidth: 800,
                fitToView: false,
                autoSize: true,
                openEffect: 'fade',
                closeEffect: 'fade'
            });
            return false;
        })
    });
</script>
