@using IHFF.Models
@using IHFF.Helpers
@model  FoodFilmViewModel

<div class="appendDiv">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-3">
                <img src="@String.Format("data:image/png;base64,{0}", Model.MovieImage)" style="width:74px;height:103px" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <h3>@Model.MovieTitle</h3>
                </div>
                <div class="row">
                    <p>Selecteer hieronder een tijd en datum voor de film</p>
                </div>
            </div>
        </div>
        <select name="EventId" class="movieDropDown EventId">
            @{
                // discriminator of specials should be removed...
                foreach (Event e in Model.Airings.Where(x => x.Discriminator == ItemType.Movie.ToString()))
                {
                    //Do selected check based on day
                    <option value="@e.EventId">@e.AiringString</option>
                }
            }
        </select>
    </div>
    <div class="col-md-4">
        <img src="@String.Format("data:image/png;base64,{0}", Model.RestaurantImage)" style="width:190px;height:91px" />
        <p>@Model.RestaurantName</p>
        <p>*Lijst tijdstippen*</p>
        <p>Kies hierboven een tijdstip. De datum is gelijk aan de gekozen filmdatum</p>
    </div>
    <div class="col-md-4">
        <div class="row">
            <p>Vervoer is alleen inbegrepen als het geselecteerde restaurant zich bevindt buiten het centrum van Haarlem.</p>
            <p>Wanneer het vervoer is inbegrepen, zult u worden vervoerd naar de bioscoop, naar het restaurant, en terug naar huis met de taxi.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                Aantal tickets:
            </div>
            <div class="col-md-6">
                *Lijst aantal tickets*
            </div>
        </div>

        <button class="backBtn">Back!</button>
    </div>
</div>

<script>
    $('.backBtn').click(function () {
        $('.appendDiv').remove();
        $('.hideDiv').animate({ width: 'toggle' }, 'slow');
    })
</script>