@using IHFF.Models
@using IHFF.Helpers
@model IEnumerable<Movie>

@foreach (Movie item in Model)
{
    using (Html.BeginForm())
    {
        <div class="row movieRow justify-height-container">
            <div class="col-md-3">
                <div class="imgWrap">
                    @if (item.Image != null)
                    {
                        @Html.ActionImage("MovieInfo", "data:image/jpg;base64, " + item.Image, null, "fancybox", "moviePoster", new { id = item.Id });
                    }
                    <p class="imgDescription fancybox" href="@Url.Action("MovieInfo", new { id = item.Id })">
                        Meer info
                    </p>
                </div>
            </div>

            <div class="col-md-7 justify-height">
                <h3 class="movieTitle">
                    @Html.ActionLink(@item.Title, "MovieInfo", new { id = item.Id }, new { @class = "fancybox movieTitle" })
                </h3>

                <p>
                    @item.Description_NL.TrimStringIfLongerThan(320) @Html.ActionLink("[Lees meer...]", "MovieInfo", new { id = item.Id }, new { @class = "fancybox" })
                </p>

                <p>
                    <b>
                        Regisseur: @item.Director<br />
                        Release: @item.YearOfRelease
                    </b>
                </p>

                <div class="row moviePullDown">
                    <div class="col-md-12">
                        <b>Prijs: &euro; @item.Price.ToString("N2") per ticket</b>
                    </div>
                    <br />
                    <div class="col-md-7">
                        <select name="AiringId" class="movieDropDown">
                            @foreach (Airing airing in item.Airings)
                            {
                                <option value="@airing.Id">@airing.AiringString</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="ticketAmount" class="movieDropDown">
                            @for (int i = 1; i <= 10; i++)
                            {
                                if (i == 1)
                                {
                                    <option value="@i">@i ticket</option>
                                }
                                else
                                {
                                    <option value="@i">@i tickets</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2 pull-right">
                        <!--<a class="btn btn-primary btn-block movieBtn" href="#">Toevoegen</a>-->
                        <input type="submit" class="btn btn-primary btn-block movieBtn" value="Toevoegen" />
                    </div>
                </div>
            </div>
        </div>
    }
}
<script>
    $(document).ready(function () {

        $(".fancybox").click(function () {
            $.fancybox.open({
                content: $('<div>').load($(this).attr('href')),
                type: 'ajax',
                maxWidth: 800,
                fitToView: false,
                autoSize: true,
                openEffect: 'fade',
                closeEffect: 'fade'
            });
            return false;
        })
    });
</script>
