@using IHFF.Models
@using IHFF.Helpers
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Film Overzicht";
}

<div class="container">

    <ol class="breadcrumb">
        <li><a href="/Home">Home</a></li>
        <li class="active">Film overzicht</li>
    </ol>

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        foreach (Movie item in Model)
        {
            <div class="row movieRow justify-height-container">
                <div class="col-md-3">
                    @if (item.Image != null)
                    {
                        <a href="#"><img src="data:image/jpg;base64, @item.Image" class="moviePoster" /></a>
                    }
                </div>

                <div class="col-md-7 justify-height">
                    <a href="#" class="movieTitle">
                        <h3>@item.Title</h3>
                    </a>
                    <p>
                        @item.Description_NL.TrimStringIfLongerThan(320)
                    </p>

                    <p>
                        <b>
                            Regisseur: @item.Director<br />
                            Release: @item.YearOfRelease

                           <!-- <p><a class="fancybox fancybox.ajax" href="~/Views/Movies/Test">test</a></p>-->
                            @Html.ActionLink("test", "Test", null, new { @class = "fancybox" })
                        </b>
                    </p>

                    <div class="row moviePullDown">
                        <div class="col-md-7">
                            <!-- NEED TO LOOK AT PASSING CORRECT DATA -->
                            <!--@Html.DropDownListFor(m => item, new SelectList(item.Airings, "Date", "AiringString"), new { @name = "AiringDate", @class = "movieDropDown" })-->
                            <select name="AiringId" class="movieDropDown">
                                @foreach (Airing airing in item.Airings)
                                {
                                    <option value="@airing.Id">@airing.AiringString</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select name="ticketAmount" class="movieDropDown">
                                @for (int i = 1; i <= 10; i++)
                                { 
                                    if (i == 1)
                                    {
                                        <option value="@i">@i ticket</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i tickets</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-2 pull-right">
                            <!--<a class="btn btn-primary btn-block movieBtn" href="#">Toevoegen</a>-->
                            <input type="submit" class="btn btn-primary btn-block movieBtn" value="Toevoegen" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>



<script>
    $(document).ready(function () {
        $(".fancybox").click(function () {
            $.fancybox.open({
                content: $('<div>').load($(this).attr('href')),
                maxWidth: 800,
                type: 'ajax',
                fitToView: false,
                width: '70%',
                height: '100%',
                autoSize: false,
                openEffect: 'fade',
                closeEffect: 'fade'
            });
            return false;
        })
    })
</script>