@using IHFF.Models
@using IHFF.Helpers
@model IEnumerable<MoviesViewModel>

@{
    ViewBag.Title = "Film Overzicht";
}

<div class="container">

    <ol class="breadcrumb">
        <li><a href="/Home">Home</a></li>
        <li class="active">Film overzicht</li>
    </ol>

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
    
        foreach (MoviesViewModel item in Model)
        {
            <div class="row movieRow justify-height-container">
                <div class="col-md-3">
                    @{
                        if (item.Image != null)
                        {
                            <a href="#"><img src="data:image/jpg;base64, @item.Image" class="moviePoster" /></a>
                        }
                    }
                </div>

                <div class="col-md-7 justify-height">
                    <a href="#" class="movieTitle">
                        <h3>@item.Title</h3>
                    </a>
                    <p>
                        @item.Description.TrimStringIfLongerThan(320)
                    </p>

                    <p>
                        <b>
                            Regisseur: @item.Director<br />
                            Release: @item.YearOfRelease
                        </b>
                    </p>

                    <div class="row moviePullDown">
                        <div class="col-md-7">
                            @Html.DropDownListFor(x => item.Id, new SelectList(item.Airings, "AiringId", "AiringText"), new { @id = item.Id, @name = "LocationId", @class = "movieDropDown" })
                        </div>
                        <div class="col-md-3">
                            <select name="ticketAmount" class="movieDropDown">
                                @for (int i = 1; i <= 10; i++)
                                { 
                                    if (i == 1)
                                    {
                                        <option value="@i">@i ticket</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i tickets</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-2 pull-right">
                            <!--<a class="btn btn-primary btn-block movieBtn" href="#">Toevoegen</a>-->
                            <input type="submit" class="btn btn-primary btn-block movieBtn" value="Toevoegen" />
                            <input type="hidden" name="Id" id="@item.Id" value="@item.Id"/>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>