@using IHFF.Models
@using IHFF.Helpers
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Film Overzicht";
}

<div class="container">

    <ol class="breadcrumb">
        <li><a href="/Home">Home</a></li>
        <li class="active">Film overzicht</li>
    </ol>

    <h2>@ViewBag.Title</h2>

    @foreach (Movie item in Model)
    {
        <div class="row movieRow justify-height-container">
            <div class="col-md-3">
                @{
                    if (item.Image != null)
                    {
                        <a href="#"><img src="data:image/jpg;base64, @item.Image" class="moviePoster" /></a>
                    }
                }
            </div>

            <div class="col-md-7 justify-height">
                <a href="#" class="movieTitle">
                    <h3>@item.Title</h3>
                </a>
                <p>
                    @item.Description_NL.TrimStringIfLongerThan(320)
                </p>

                <p>
                    <b>
                        Regisseur: @item.Director<br />
                        Release: @item.YearOfRelease
                    </b>
                </p>

                <!--<div class="container pull-down">-->
                    <div class="row moviePullDown">
                        <div class="col-md-7">
                            vrijdag - test - test
                        </div>
                        <div class="col-md-2">
                            aantal tickets
                        </div>
                        <div class="col-md-2">
                            BUTTON!
                        </div>
                    </div>
                <!--</div>-->
            </div>
        </div>
                    }

</div>